In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_patent = pd.read_excel('/Users/bingzhi/git/eco/quantECO/patent.xlsx')

In [3]:
df_gravity = pd.read_csv('/Users/bingzhi/git/eco/quantECO/Gravity_csv_V202211/Gravity_V202211.csv')

/var/folders/q_/h6q3tqz574z_2jfzwhc4p3nr0000gn/T/ipykernel_91699/4177445617.py:1: DtypeWarning: Columns (40) have mixed types. Specify dtype option on import or set low_memory=False.
  df_gravity = pd.read_csv('/Users/bingzhi/git/eco/quantECO/Gravity_csv_V202211/Gravity_V202211.csv')

In [4]:
df_patent.columns = ['year', 'KOR', 'DEU', 'USA', 'JPN', 'CHN']
df_patent

    year      KOR     DEU      USA      JPN      CHN
0   2005   420906  434663  1683968  1123055   182396
1   2006   465988  460658  1774742  1146871   218922
2   2007   566965  492604  1815531  1206335   271917
3   2008   624419  509879  1872872  1270367   337215
4   2009   637197  519209  1930631  1347998   438036
5   2010   640412  514046  2017318  1423432   564760
6   2011   678005  527917  2113628  1542096   696939
7   2012   738312  549521  2239231  1694435   875385
8   2013   812595  569340  2387502  1838177  1033908
9   2014   885959  576273  2527750  1920490  1196497
10  2015   912442  602013  2644697  1946568  1472374
11  2016   950526  617307  2763055  1980985  1772203
12  2017   970889  657749  2984825  2013685  2085367
13  2018  1001163  703606  3063494  2054276  2366314
14  2019  1048079  772358  3131427  2053879  2670784
15  2020  1096721  834734  3348531  2039040  3057844
16  2021  1153320  877763  3327540  2020424  3596901
17  2022  1214146  917232  3343159  2029223  4212188

In [17]:
filtered_df_gravity = df_gravity[(df_gravity['year'] >= 2005) & (df_gravity['year'] <= 2020)]

In [18]:
filtered_df_gravity_2 = filtered_df_gravity[filtered_df_gravity['country_id_o'].isin(['KOR', 'DEU', 'USA', 'JPN', 'CHN'])]

In [19]:
columns = ['year', 'country_id_o', 'country_id_d', 'pop_o', 'pop_d', 'gdp_o', 'gdp_d', 'gdpcap_o', 'gdpcap_d', 'wto_o', 'wto_d', 'gatt_o', 'gatt_d', 'fta_wto_raw', 'distcap','tradeflow_imf_o']
filtered_df_gravity_3 = filtered_df_gravity_2[columns]
filtered_df_gravity_3

,year,country_id_o,country_id_d,pop_o,pop_d,gdp_o,gdp_d,gdpcap_o,gdpcap_d,wto_o,wto_d,gatt_o,gatt_d,fta_wto_raw,distcap,tradeflow_imf_o
745977,2005,CHN,ABW,1303719.971,100.031,2.256903e+09,2.331006e+06,1.731,23.303,1.0,0.0,0.0,0.0,0.0,14162.0,5636.000
745978,2006,CHN,ABW,1311020.020,100.830,2.712951e+09,2.421475e+06,2.069,24.015,1.0,0.0,0.0,0.0,0.0,14162.0,9519.000
745979,2007,CHN,ABW,1317885.010,101.219,3.494056e+09,2.623726e+06,2.651,25.921,1.0,0.0,0.0,0.0,0.0,14162.0,10431.000
745980,2008,CHN,ABW,1324655.029,101.344,4.521827e+09,2.791961e+06,3.414,27.549,1.0,0.0,0.0,0.0,0.0,14162.0,10954.000
745981,2009,CHN,ABW,1331260.010,101.418,4.990233e+09,2.498933e+06,3.749,24.640,1.0,0.0,0.0,0.0,0.0,14162.0,11704.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4363626,2016,USA,ZWE,323127.502,16150.362,1.856910e+10,1.628921e+07,57.467,1.009,1.0,1.0,1.0,1.0,0.0,12785.0,28972.656
4363627,2017,USA,ZWE,325122.131,14236.599,1.947962e+10,1.758489e+07,59.915,1.235,1.0,1.0,1.0,1.0,0.0,12785.0,40308.152
4363628,2018,USA,ZWE,326838.196,14438.812,2.052716e+10,1.811554e+07,62.805,1.255,1.0,1.0,1.0,1.0,0.0,12785.0,33982.504
4363629,2019,USA,ZWE,328329.956,14645.473,2.137257e+10,1.928429e+07,65.095,1.317,1.0,1.0,1.0,1.0,0.0,12785.0,39145.992
4363630,2020,USA,ZWE,331501.068,14862.927,2.089374e+10,1.805117e+07,63.028,1.215,1.0,1.0,1.0,1.0,0.0,12785.0,46428.941

In [20]:
filtered_df_gravity_3.to_excel('filtered_gravity_data.xlsx', index=False)

In [21]:
filtered_df_gravity_3

,year,country_id_o,country_id_d,pop_o,pop_d,gdp_o,gdp_d,gdpcap_o,gdpcap_d,wto_o,wto_d,gatt_o,gatt_d,fta_wto_raw,distcap,tradeflow_imf_o
745977,2005,CHN,ABW,1303719.971,100.031,2.256903e+09,2.331006e+06,1.731,23.303,1.0,0.0,0.0,0.0,0.0,14162.0,5636.000
745978,2006,CHN,ABW,1311020.020,100.830,2.712951e+09,2.421475e+06,2.069,24.015,1.0,0.0,0.0,0.0,0.0,14162.0,9519.000
745979,2007,CHN,ABW,1317885.010,101.219,3.494056e+09,2.623726e+06,2.651,25.921,1.0,0.0,0.0,0.0,0.0,14162.0,10431.000
745980,2008,CHN,ABW,1324655.029,101.344,4.521827e+09,2.791961e+06,3.414,27.549,1.0,0.0,0.0,0.0,0.0,14162.0,10954.000
745981,2009,CHN,ABW,1331260.010,101.418,4.990233e+09,2.498933e+06,3.749,24.640,1.0,0.0,0.0,0.0,0.0,14162.0,11704.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4363626,2016,USA,ZWE,323127.502,16150.362,1.856910e+10,1.628921e+07,57.467,1.009,1.0,1.0,1.0,1.0,0.0,12785.0,28972.656
4363627,2017,USA,ZWE,325122.131,14236.599,1.947962e+10,1.758489e+07,59.915,1.235,1.0,1.0,1.0,1.0,0.0,12785.0,40308.152
4363628,2018,USA,ZWE,326838.196,14438.812,2.052716e+10,1.811554e+07,62.805,1.255,1.0,1.0,1.0,1.0,0.0,12785.0,33982.504
4363629,2019,USA,ZWE,328329.956,14645.473,2.137257e+10,1.928429e+07,65.095,1.317,1.0,1.0,1.0,1.0,0.0,12785.0,39145.992
4363630,2020,USA,ZWE,331501.068,14862.927,2.089374e+10,1.805117e+07,63.028,1.215,1.0,1.0,1.0,1.0,0.0,12785.0,46428.941

In [22]:
countries_with_na = filtered_df_gravity_3[
    filtered_df_gravity_3[['pop_d', 'gdp_d', 'gdpcap_d','tradeflow_imf_o']].isna().any(axis=1)
]['country_id_d'].unique()

In [23]:
countries_with_na

array(['ABW', 'AFG', 'AIA', 'AND', 'ANT.1', 'ANT.2', 'ASM', 'BES', 'BMU',
       'CCK', 'CHN', 'COD', 'COK', 'CSK', 'CUB', 'CUW', 'CXR', 'CYM',
       'DDR', 'DEU.1', 'DJI', 'ERI', 'ESH', 'ETH.1', 'FLK', 'FRO', 'FSM',
       'GIB', 'GLP', 'GRL', 'GUF', 'GUM', 'IDN.1', 'IOT', 'IRN', 'KWT',
       'LBY', 'LIE', 'MCO', 'MHL', 'MNE', 'MNP', 'MSR', 'MTQ', 'MYS.1',
       'MYT', 'NCL', 'NFK', 'NIU', 'NRU', 'PAK.1', 'PCN', 'PNG', 'PRI',
       'PRK', 'PSE', 'PYF', 'REU', 'ROU', 'SCG', 'SDN.1', 'SDN.2', 'SHN',
       'SMR', 'SOM', 'SPM', 'SRB', 'SSD', 'SUN', 'SXM', 'SYR', 'TCA',
       'TKL', 'TKM', 'TLS', 'TWN', 'VAT', 'VDR', 'VEN', 'VGB', 'VNM.1',
       'WLF', 'YEM.1', 'YMD', 'YUG', 'ATG', 'CPV', 'GNB', 'GRD', 'JPN',
       'MKD', 'NAM', 'STP', 'KOR', 'COM', 'PLW', 'TUV', 'USA'],
      dtype=object)

In [24]:
filtered_df_gravity_4 = filtered_df_gravity_3[~filtered_df_gravity_3['country_id_d'].isin(countries_with_na)]

In [25]:
filtered_df_gravity_4

,year,country_id_o,country_id_d,pop_o,pop_d,gdp_o,gdp_d,gdpcap_o,gdpcap_d,wto_o,wto_d,gatt_o,gatt_d,fta_wto_raw,distcap,tradeflow_imf_o
746125,2005,CHN,AGO,1303719.971,16544.376,2.256903e+09,2.823370e+07,1.731,1.707,1.0,1.0,0.0,1.0,0.0,11759.0,372864.000
746126,2006,CHN,AGO,1311020.020,17122.410,2.712951e+09,4.178949e+07,2.069,2.441,1.0,1.0,0.0,1.0,0.0,11759.0,894370.000
746127,2007,CHN,AGO,1317885.010,17712.824,3.494056e+09,6.044889e+07,2.651,3.413,1.0,1.0,0.0,1.0,0.0,11759.0,1240624.000
746128,2008,CHN,AGO,1324655.029,18314.442,4.521827e+09,8.417808e+07,3.414,4.596,1.0,1.0,0.0,1.0,0.0,11759.0,2930796.000
746129,2009,CHN,AGO,1331260.010,18926.649,4.990233e+09,7.549242e+07,3.749,3.989,1.0,1.0,0.0,1.0,0.0,11759.0,2385311.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4363626,2016,USA,ZWE,323127.502,16150.362,1.856910e+10,1.628921e+07,57.467,1.009,1.0,1.0,1.0,1.0,0.0,12785.0,28972.656
4363627,2017,USA,ZWE,325122.131,14236.599,1.947962e+10,1.758489e+07,59.915,1.235,1.0,1.0,1.0,1.0,0.0,12785.0,40308.152
4363628,2018,USA,ZWE,326838.196,14438.812,2.052716e+10,1.811554e+07,62.805,1.255,1.0,1.0,1.0,1.0,0.0,12785.0,33982.504
4363629,2019,USA,ZWE,328329.956,14645.473,2.137257e+10,1.928429e+07,65.095,1.317,1.0,1.0,1.0,1.0,0.0,12785.0,39145.992
4363630,2020,USA,ZWE,331501.068,14862.927,2.089374e+10,1.805117e+07,63.028,1.215,1.0,1.0,1.0,1.0,0.0,12785.0,46428.941

In [26]:
df_patent_long = pd.melt(df_patent, id_vars=['year'], var_name='country_id_o', value_name='patent_o')

# 合并数据框
filtered_df_gravity_5 = pd.merge(filtered_df_gravity_4, df_patent_long, on=['year', 'country_id_o'], how='left')

In [27]:
filtered_df_gravity_5.to_excel('filtered_gravity_data3.xlsx', index=False)